{% extends "lire/page.html" %}
{% block static_styles %}
    <link rel="stylesheet" type="text/css" rel="stylesheet" href="css/bootstrap-tooltip.css"/>
    <link rel="stylesheet" type="text/css" rel="stylesheet" href="css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" rel="stylesheet" href="css/table.css"/>
    <link rel="stylesheet" type="text/css" rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" type="text/css" rel="stylesheet" href="css/demo.css"/>

{% endblock %}
{% block static_scripts %}
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>

{% endblock %}
{% block primary %}
    {% if errors %}
        {% for name, error in errors.iteritems() %}
            <p class="alert alert-danger">{{ error }}</p>
        {% endfor %}
    {% endif %}
    <h2>Relationship Manager</h2>
    <form role="form" class="well" id="relationshipForm" action="lire/manager" method="post" name="relationshipForm"
          data-module="lire">

        <div class="rel-form-section">
            <label for="subject" alt="Relationship from">Subject</label>
            <select name="subject" id="subject">
                {% for dataset in auth_datasets %}
                    <option value="{{ dataset.name }}">{{ dataset.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="rel-form-section">
            <label for="relationshipType">relationship type</label>
            <select id="relationshipType" name="relationshipType">
                {% for relationship in relationship_types %}
                    <option value="{{ loop.index0 }}">{{ relationship }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="rel-form-section">
            <label for="object">Object</label>
            <select name="object" id="object">
                {% for dataset in auth_datasets %}
                    <option value="{{ dataset.name }}">{{ dataset.title }}</option>
                {% endfor %}
            </select>
        </div>
        <label for="comment">Notes</label>
        <textarea id="relationshipComment" name="comment" id="comment"></textarea>
        <input type="submit" value="submit"/>
    </form>

    <div id="app" data-module="vue-custom">
        <template v-for="relation in tableData3">
            <h2>${ relation.title }</h2>
            <relation-box :relationships="relation.relationships"></relation-box>
        </template>
    </div>




    <script type="text/x-template" id="rel-box">
        <el-table :data="relationships" height="250" style="width: 100%">
            <el-table-column label="Type" width="180">
                <template slot-scope="scope">
                    <el-select v-model="newRow.type" id="type" v-if="scope.$index === editing">
                        <el-option :value="key" :key="key" :label="option" v-for="(option,key) in relTypes">${ option }
                        </el-option>
                    </el-select>
                    <div v-else>${ scope.row }</div>
                </template>
            </el-table-column>
            <el-table-column prop="subject" label="Subject" width="180">
            </el-table-column>
            <el-table-column prop="comment" label="Comment" width="180">
            </el-table-column>
            <el-table-column label="Operations">
                <template slot-scope="scope">
                    <template v-if="editing == scope.$index">
                        <el-button size="mini" @click="save(scope.$index, scope.row)">Save</el-button>
                    </template>
                    <template v-else>
                        <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">Delete
                        </el-button>
                    </template>

                </template>
            </el-table-column>
        </el-table>
    </script>
    <script type="text/x-template" id="rel-box-row">
        <template>

        </template>
    </script>


    {% resource 'lire/js/custom.js' %}
    {% resource 'lire/js/vue-custom.js' %}
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/element-ui.js"></script>
{% endblock %}
